Api/XML/Schemas/modules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="resource" abstract="true">
		<xs:sequence>
			<xs:element name="id" minOccurs="0"/>
			<xs:element name="creation_dt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="moduleType">
		<xs:complexContent>
			<xs:extension base="resource">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="parent" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="somiod">
		<xs:sequence>
			<xs:element name="module" type="moduleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="somiod" type="somiod"/>
</xs:schema>