Api/XML/Schemas/somiod.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="resource" abstract="true">
		<xs:sequence>
			<xs:element name="id" minOccurs="0"/>
			<xs:element name="creation_dt" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="subscriptionType">
		<xs:complexContent>
			<xs:extension base="resource">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="parent" type="xs:integer"/>
					<xs:element name="event" type="xs:string"/>
					<xs:element name="endpoint" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="subscriptionsType">
		<xs:sequence>
			<xs:element name="subscription" type="subscriptionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="dataType">
		<xs:complexContent>
			<xs:extension base="resource">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
					<xs:element name="parent" type="xs:integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="datasType">
		<xs:sequence>
			<xs:element name="data" type="dataType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="moduleType">
		<xs:complexContent>
			<xs:extension base="resource">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="parent" type="xs:integer" />
					<xs:element name="datas" type="datasType" />
					<xs:element name="subcriptions" type="subscriptionsType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="modulesType">
		<xs:sequence>
			<xs:element name="module" type="moduleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="applicationType">
		<xs:complexContent>
			<xs:extension base="resource">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="modules" type="modulesType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="applicationsType">
		<xs:sequence>
			<xs:element name="application" type="applicationType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="applications" type="applicationsType"/>
</xs:schema>